body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.square-image {
    width: 180px;
    height: 180px;
    border-radius: 0;
    object-fit: cover;
    border: 5px solid #f8f9f9;
    outline: 5px solid #2a7979;
    margin-right: 30px;
    transition: box-shadow 0.3s ease;
}

.square-image:hover {
    animation: blink-shadow 1.5s infinite alternate;
}

@keyframes blink-shadow {
    from {
        box-shadow: 0 0 20px rgba(1, 25, 40, 0.5);
    }
    to {
        box-shadow: 0 0 75px rgba(1, 25, 40, 0.935);
    }
}

.info-box {
    border: 2px solid black;
    padding: 15px;
    width: 400px;
    min-height: 150px;
    background: #f9f9f9;
}
